:root {
  --bg-color: rgb(81, 81, 81);
  --text-color: #aaa;
  --dimmed-color: rgb(49, 37, 39);
}

*, * *, * * * {
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  user-select: none;
  background-color: var(--bg-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  transition: background-color 300ms ease;
}

button, input {
  font-size: 1.5rem;
  background-color: #444;
  color: rgb(223, 223, 223);
  width: 8rem;
  height: 8rem;
  border-radius: 1rem;
}

input, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: #00000099;
  height: 3rem;
  width: 20rem;
  padding: 0 1rem;
}

select {
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  flex-grow: 1;
}

#screen-area {
  width: 100%;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

#terminal {
  border-radius: 2rem;
  background-color: #222;
  width: 100%;
  height: 100%;
  border: 3rem inset gray;
  color: green;
  font-family: monospace;
  font-size: 1.2rem;
  padding: 2rem;
}

.terminal-line {
  margin: 1rem 0;
}

form {
  display: grid;
  grid-template-rows: 1fr 1fr 1.5fr;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

form > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  outline: 1px solid red;
}

form > div:last-of-type {
  grid-column-start: 1;
  grid-column-end: 3;
  justify-self: center;
}

#button-area {
  margin-top: 1rem;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

#start-game-button {
  background-color: rgb(40, 63, 40);
  height: 6rem;
  width: 16rem;
}

#north-button {
  grid-row-start: 1;
  grid-column-start: 2;
}

#west-button {
  grid-row-start: 2;
  grid-column-start: 1;
}

#context-button {
  grid-row-start: 2;
  grid-column-start: 2;
}

#east-button {
  grid-row-start: 2;
  grid-column-start: 3;
}

#south-button {
  grid-row-start: 3;
  grid-column-start: 2;
}

#context-button > button {
  border-radius: 50%;
  grid-row-start: 2;
  grid-column-start: 2;
}